<link rel="stylesheet" href="/stylesheets/success.css">

<div class="main">
  <canvas id="my-canvas"></canvas>
  <h1>thank you for buying in our store!</h1>
</div>
<script src="/js/index.min.js"></script>
<script src="/js/confetti.js"></script>

