<link rel="stylesheet" href="/stylesheets/footer.css" />

<footer>
    <main class="mt-5 container d-flex justify-content-between">
        <div class="col-5">
            <h5>Come visit our physical shops:</h5>
            <ul>
                <li><a href="">67b Dean street, 4711 Dean Town, Netherlands </a></li>
                <li><a href="">136 Av. des Champs-Élysées, 75008 Paris, France</a></li>
            </ul>
        </div>
        <div class="col-4">
            <h5>News & Infos</h5>
            <ul>
                <li><a href="">Join the newsletter!</a></li>
                <li>A bunch of text</li>
                <li>A bunch of text</li>
            </ul>
        </div>
        <div class="col-3">
            <h5>Our socials</h5>
            <ul>
                <li><a href="">Instagram</a></li>
                <li><a href="">TikTok</a></li>
                <li><a href="">A bunch of text</a></li>
            </ul>
        </div>
    </main>
</footer>