<link rel="stylesheet" href="/stylesheets/index.css" />

<div class="main-home">
  <a href="/products">
    <div class="img-main">
      <img
        src="https://res.cloudinary.com/dbxtlw5rz/image/upload/v1676539459/ecommerce%20products/homepage/Tekengebied_1__4_exbxjm.webp"
        alt=""
      />
      <img
        src="https://res.cloudinary.com/dbxtlw5rz/image/upload/v1676539207/ecommerce%20products/homepage/Tekengebied_2__9_tom2le.webp"
        alt=""
      />
    </div>
    <div class="text-outer">
            <div class="text-img">
      <b><p>We received some new items</p></b>
      <b
        ><p>
          check then out here
          <span class="material-symbols-outlined"> chevron_right </span>
        </p></b
      >
    </div>
    <div class="text-img">
      <b><p>The latest drop is live, explore now</p></b>
      <b
        ><p>
          Shop all items
          <span class="material-symbols-outlined"> chevron_right </span>
        </p></b
      >
    </div>
    </div>
  </a>
  <a href="/products">
    <div class="img-main">
      <img
        src="https://res.cloudinary.com/dbxtlw5rz/image/upload/v1676542934/ecommerce%20products/homepage/IMG_6132_olshx1.webp"
        alt=""
      />
      <img
        src="https://res.cloudinary.com/dbxtlw5rz/image/upload/v1676542934/ecommerce%20products/homepage/B8-QB__2_wzuzsh.jpg"
        alt=""
      />
    </div>
    <div class="text-outer">
            <div class="text-img">
      <b><p>New Patagonia styles, coming soon!</p></b>
      <b
        ><p>
          check them out here
          <span class="material-symbols-outlined"> chevron_right </span>
        </p></b
      >
    </div>
    <div class="text-img">
      <b><p>The latest drop is live, explore now</p></b>
      <b
        ><p>
          Shop all items
          <span class="material-symbols-outlined"> chevron_right </span>
        </p></b
      >
    </div>
    </div>

  </a>
</div>
