<link rel="stylesheet" href="/stylesheets/login-signup.css" />

<div class="login-outer">
  <div class="login-inner">
    <div class="login">
      <h1>login</h1>
      <form class="form" method="post" action="/auth/login">
        <div class="textbox">
          <input id="email-signup" type="text" name="email" required />
          <label for="email-signup">email </label>
          <span class="material-symbols-outlined"> mail </span>
        </div>
        <% if (typeof error !== "undefined" && error === "Email") { %>
          <span class="mb-3 error-text"> Email is incorrect or doesn't exist</span>
        <% } %> 
        <div class="textbox">
          <input
            id="password-signup"
            type="password"
            name="password"
            required
          />
          <label for="password-signup">password </label>
          <span class="material-symbols-outlined"> vpn_key </span>
        </div>
        <% if (typeof error !== "undefined" && error === "Password") { %>
          <span class="mb-3 error-text">Incorrect password</span>
        <% } %>
        <button class="login-signup-btn" type="submit">login</button>
        <p>Don't have a account yet? Sign up <a href="/auth/signUp">here</a></p>
      </form>
    </div>
  </div>
</div>
