<h1>login</h1>

<form method="post" action="/auth/login">
    <div class="">
        <label for="email-signup">email: </label>
        <input id="email-signup" type="email" placeholder="email" name="email" required/>
      </div>
      <div class="">
        <label for="password-signup">password: </label>
        <input id="password-signup" type="password" placeholder="password" name="password" required/>
      </div>
      <button type="submit">
        login
      </button>
</form>