<link rel="stylesheet" href="/stylesheets/login-signup.css" />

<div class="login-outer">
  <div class="login">
    <h1>signup</h1>
    <form method="post" action="/auth/signup">
      <div class="textbox">
        <input id="firstname-signup" type="text" name="firstName" required />
        <label for="firstname-signup">first name</label>
        <span class="material-symbols-outlined"> badge </span>
      </div>
      <div class="textbox">
        <input id="lastname-signup" type="text" name="lastName" required />
        <label for="lastname-signup">last name</label>
        <span class="material-symbols-outlined"> badge </span>
      </div>
      <div class="textbox">
        <input id="email-signup" type="text" name="email" required />
        <label for="email-signup">email </label>
        <span class="material-symbols-outlined"> mail </span>
      </div>
      <div class="textbox">
        <input id="password-signup" type="password" name="password" required />
        <label for="password-signup">password </label>
        <span class="material-symbols-outlined"> vpn_key </span>
      </div>
      <button class="login-signup-btn" type="submit">create an account</button>
      <p>Already have a account? login <a href="/auth/login">here</a></p>
    </form>
  </div>
</div>
