<h1>all products</h1>

<div class="container d-flex justify-content-between">
    <% allProducts.forEach(product => { %>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://react.semantic-ui.com/images/wireframe/image.png" alt="<%= product.title %>">
            <div class="card-body">
              <h3 class="card-title"><%= product.title %></h3>
              <p class="card-text"><%= product.productDetails %></p>
              <form method="post" action="/products/cart-add">
                <input type="text" name="id" value="<%- product._id %>" hidden>
                <button type="submit">Add to cart</button>
                </form>
            </div>
          </div>
    <% }) %>
</div>