.card{
    border: none;
}

.btn{
    background-color: #d0d0d0;
}

.card-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.title{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 0 auto;
}

.grid::after {
    content: "";
    flex: auto;
  }