.title h1 {
    text-align: center;
}

.card-title{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  border: none;
}

#checkout-btn {
    position: fixed;
    left: 5%;
    top: 30%;
}