.img-checkout {
    height: 100%;
    object-fit: contain;
}

h1 {
    text-align: center;
}

h6 {
    font-weight: 600;
}

#main-checkout {
    min-height: 47vh;
}

section {
    line-height: 0.5em;
}