/* header{
    top: 25px;
    position: fixed;
} */

header ul{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

nav a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

header button{
    background: transparent;
    border: none;
}