body {
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: "Raleway", sans-serif;
  height: 100%;
  
}

html{
  height: 100%;
}

.pro-pic {
  width: 200px;
}

.btn{
  background-color: #d0d0d0;
}