.item-image img{
    width: 100px;
}
.item-details{
    display: flex;
    flex-direction: row;
  
    padding: 0;
}

.item-details-text{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
}

.subtotal-order{
    padding-left: 100px;
    margin-left: 25%;
}