.user-list{
    display: flex;
    justify-content: center;
    width: 0 auto;
}

.title{
    text-align: center;
}

.item-image img{
    width: 100px;
}
.item-details{
    display: flex;
    flex-direction: row;
  
    padding: 0;
}

.item-details-text{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
}

.subtotal-order{
    padding-left: 100px;
    margin-left: 25%;
}

.inner-btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 15px;
}
.user-details{
    display: flex;
}

.address{
    margin-left: 25%;
}